@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/poppins-latin-300-normal.woff'),
       url('assets/font/poppins-latin-400-normal.woff'),
       url('assets/font/poppins-latin-500-normal.woff'),
       url('assets/font/poppins-latin-600-normal.woff'),
       url('assets/font/poppins-latin-700-normal.woff'),
       url('assets/font/poppins-latin-800-normal.woff'),
       url('assets/font/poppins-latin-900-normal.woff');

  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

